{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Add A New Cafe{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>

      {{ form.csrf_token }}
      {{ wtf.quick_form(form, novalidate=True) }}
      <!-- <form method="post" action="{{ url_for('add_cafe') }}" novalidate>
        <p>
          {{form.cafe.label}} <br> {{form.cafe()}}
          {% for err in form.cafe.errors %}
          <span style="color:red"></span>
          {% endfor %}
        </p>
        <p>
          {{form.location.label}} <br> {{form.location()}}
          {% for err in form.location.errors %}
          <span style="color:red"></span>
          {% endfor %}
        </p>
        <p>
          {{form.opening_time.label}} <br> {{form.opening_time(size=10)}}
          {% for err in form.opening_time.errors %}
          <span style="color:red"></span>
          {% endfor %}
        </p>
        <p>
          {{form.closing_time.label}} <br> {{form.closing_time(size=10)}}
          {% for err in form.closing_time.errors %}
          <span style="color:red"></span>
          {% endfor %}
        </p>
        <p>
          {{form.rating.label}} <br> {{form.rating(size=10)}}
          {% for err in form.rating.errors %}
          <span style="color:red"></span>
          {% endfor %}
        </p>
        <p>
          {{form.wifi_rating.label}} <br> {{form.wifi_rating(size=10)}}
          {% for err in form.wifi_rating.errors %}
          <span style="color:red"></span>
          {% endfor %}
        </p>
        <p>
          {{form.power.label}} <br> {{form.power(size=10)}}
          {% for err in form.power.errors %}
          <span style="color:red"></span>
          {% endfor %}
        </p>
        {{form.submit}}
      </form> -->

	  <p class="space-above"><a href="{{ url_for('cafes')}}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
